<ion-content padding>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
      <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" color="danger">Register</ion-button>
  </form>
  <div text-center>
    <a routerLink='/login'> Already have a account?  </a>
  </div>
