<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Translation and Definition
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
      <ion-input  name="word" type="text" placeholder="Enter Word" ngModel required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" color="primary">Login</ion-button>
  </form>
  <div>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>

</ion-content>

